
/* rest */
html{
    font-size: 625%;/*100px*/
}

body{
    margin: 0;
    background-color: #68cdd5;
    color: #fff;
    font-size: 0.12rem;
    font-family: "Hiragino Sans GB","Microsoft YaHei",serif;
}




.wrap{
    position: relative;
    padding: 1.14rem 14%;
}

.backBtn{
    position: absolute;
    top:0.2rem;
    left: 0.35rem;
    background-image: url(../images/task3_03.png);
    background-size: 100%;
    width: 0.54rem;
    height:0.54rem;
}

.wrap h2{
    text-align: center;
    margin-bottom: 1.15rem;
}



.wrap>p{
    font-size: 2.5em;
    line-height: 1.6;  
    margin-bottom: 1.74rem;
}




.footer p{
    font-size: 2em;
}
.foot-left{
    float: left;
    margin-left:0.3rem; 
}
.foot-right{
    float:right;
    margin-right: 0.3rem;
}

.icon{
    margin: 0 auto;
    width: 0.88rem;
    height: 0.88rem;
    background-repeat: no-repeat;
   
}

.icon-left{
    background-image: url(../images/task3_11.png);
    
    
}

.icon-right{
    background-image: url(../images/task3_13.png);
   
}
