/* 重置 */
html {
  font-size: 312.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "微软雅黑";
  background-color: #29bde0;
}
h1 {
  margin: 0;
  font-weight: normal;
}
/* 默认 */
/* 统一调用背景图 */
/* 统一清除浮动 */
/* 布局 */
.g-wrap {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.g-hd {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 920px;
  padding: 0.3rem 0.17rem 0.16rem;
  border-bottom: 1px solid #74d4eb;
  background-color: #29bde0;
  z-index: 1000;
}
.g-mn {
  margin-top: 49px;
  margin-bottom: 100px;
  padding: 0 0.17rem;
  overflow: hidden;
}
.g-ft {
  position: fixed;
  padding: .46rem 0 .59rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 920px;
  background-color: #29bde0;
}
/* 模块 */
.m-hd {
  position: relative;
}
.m-hd h1 {
  font-size: .34rem;
  line-height: .5rem;
  text-align: center;
  letter-spacing: .05rem;
}
.m-hd .backBtn,
.m-hd .closeBtn {
  position: absolute;
  height: .49rem;
  background-size: 100% 100%;
  top: 0;
  cursor: pointer;
}
.m-hd .backBtn {
  width: .26rem;
  background-image: url('../images/back-btn.png');
  left: 0;
}
.m-hd .closeBtn {
  width: .36rem;
  background-image: url('../images/close-btn.png');
  right: 0;
}
.m-btn {
  width: 77.1875%;
  margin: 0 auto;
  color: #fff;
  line-height: .87rem;
  font-size: .4rem;
  background-color: #fbb435;
  cursor: pointer;
  text-align: center;
}
.m-statusBox {
  position: relative;
  float: left;
  width: 22.77227723%;
  margin: .6rem 4.4%;
  padding: calc(22.772% / 2) 0;
  border: .05rem solid #fff;
}
.m-statusBox > p {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .4rem;
  height: 75%;
  background-color: #f5c97b;
  line-height: 1;
}
.m-statusBox > span {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #83b09a;
  color: #fff;
  height: 25%;
  font-size: .32rem;
  line-height: 1;
}
/* 元件 */
/* 功能 */
/* 皮肤 */
